@charset "UTF-8";
/* MSC  */
* {
  padding: 0%;
  margin: 0%;
  font-family: monospace; }

h3 {
  padding: 10px;
  font-size: 20px; }

p {
  padding: 10px;
  font-size: 20px; }

body {
  background: linear-gradient(to bottom, white, #a8a8a8); }

input {
  background-color: green;
  color: aliceblue;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 7px gray; }

/* PARTIALS  */
/* Inicio Sección Footer */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #191919;
  padding: 50px;
  justify-content: center;
  text-align: center; }
  .footer__firma {
    color: white; }

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    background-color: #505050;
    padding: 50px;
    justify-content: center;
    text-align: center;
    width: 600px; }
    .footer__firma {
      font-size: 30px;
      color: aliceblue; }
    .footer__texto {
      font-size: 30px;
      color: aliceblue; }
    .footer__logo {
      padding: 1rem;
      animation: fadeInRight 1s ease-in-out; } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px); }
  to {
    opacity: 1; } }

/* Fin Sección Footer */
/* VIEWS  */
.consolas {
  display: flex;
  flex-direction: column;
  animation: fadein 4s; }
  .consolas__titulo {
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: 30px; }
  .consolas__contenedor {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 70px; }
    .consolas__contenedor__producto {
      justify-items: center;
      padding: 30px;
      background-color: #eaeaea;
      border-radius: 20px;
      box-shadow: 2px 2px 7px gray;
      text-align: center;
      transition: transform .2s; }
    .consolas__contenedor__producto:hover {
      transform: scale(1.2); }

@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 320px) {
  .consolas__titulo {
    display: flex;
    justify-content: center;
    width: 550px;
    padding: 100px;
    font-size: 30px; }
    .consolas__titulo__contenedor {
      display: flex;
      width: 550px;
      flex-direction: column;
      justify-items: center;
      gap: 20px; }
      .consolas__titulo__contenedor h3 {
        font-size: 40px; }
      .consolas__titulo__contenedor p {
        font-size: 40px; } }

@media screen and (max-width: 480px) {
  .consolas__titulo {
    display: flex;
    justify-content: center;
    width: 550px;
    padding: 100px;
    font-size: 30px; }
    .consolas__titulo__contenedor {
      display: flex;
      width: 550px;
      flex-direction: column;
      justify-items: center;
      gap: 20px; }
      .consolas__titulo__contenedor h3 {
        font-size: 40px; }
      .consolas__titulo__contenedor p {
        font-size: 40px; } }

/* Fin Sección Consolas*/
/* Inicio Sección Novedades*/
.novedades {
  display: flex;
  flex-direction: column;
  animation: fadein 4s; }
  .novedades__titulo {
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: 30px; }
  .novedades__contenedor {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 70px; }
    .novedades__contenedor__producto {
      justify-items: center;
      padding: 30px;
      background-color: #eaeaea;
      border-radius: 20px;
      box-shadow: 2px 2px 7px gray;
      text-align: center;
      transition: transform .2s; }
    .novedades__contenedor__producto:hover {
      transform: scale(1.2); }

@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 320px) {
  .novedades__titulo {
    display: flex;
    justify-content: center;
    width: 550px;
    padding: 100px;
    font-size: 30px; }
    .novedades__titulo__contenedor {
      display: flex;
      width: 550px;
      flex-direction: column;
      justify-items: center;
      gap: 20px; }
      .novedades__titulo__contenedor__producto {
        justify-items: center;
        padding: 30px;
        background-color: #eaeaea;
        border-radius: 20px;
        box-shadow: 2px 2px 7px gray;
        text-align: center;
        font-size: 40px; }
      .novedades__titulo__contenedor h3 {
        font-size: 40px; }
      .novedades__titulo__contenedor p {
        font-size: 40px; }
      .novedades__titulo__contenedor input {
        font-size: 35px; } }

@media screen and (max-width: 480px) {
  .novedades__titulo {
    display: flex;
    justify-content: center;
    width: 550px;
    padding: 100px;
    font-size: 30px; }
    .novedades__titulo__contenedor {
      display: flex;
      width: 550px;
      flex-direction: column;
      justify-items: center;
      gap: 20px; }
      .novedades__titulo__contenedor h3 {
        font-size: 40px; }
      .novedades__titulo__contenedor p {
        font-size: 40px; }
    .novedades__titulo__producto {
      justify-items: center;
      padding: 30px;
      background-color: #eaeaea;
      border-radius: 20px;
      box-shadow: 2px 2px 7px gray;
      text-align: center;
      font-size: 40px; }
    .novedades__titulo__titulo {
      display: flex;
      justify-content: center;
      padding: 100px;
      font-size: 40px; }
    .novedades__titulo input {
      font-size: 35px; } }

/* Fin Sección Novedades*/
/* Inicio Galería */
.mosaico {
  display: grid;
  grid-template-columns: 1fr; }
  .mosaico img {
    width: 100%;
    height: auto; }
  .mosaico__elden {
    grid-column: 1 / 3;
    grid-row: 1 / 2; }
  .mosaico__nat {
    grid-column: 3 / 5;
    grid-row: 1 / 3; }
  .mosaico__halo {
    grid-column: 5 / 7;
    grid-row: 1 / 2; }
  .mosaico__re {
    grid-column: 7 / 9;
    grid-row: 1 / 2; }

@media screen and (max-width: 320px) {
  .mosaico {
    display: none; } }

/* Fin Galería */
