/* MSC  */
@import './misc/variables';
@import './misc/normalice';

/* PARTIALS  */

@import './Partials/footer';
@import './partials/index';

/* VIEWS  */

@import './pages/index'; 

.consolas {
    display: flex;
    flex-direction: column;
    animation: fadein 4s;

    &__titulo {
        display: flex;
        justify-content: center;
        padding: 100px;
        font-size: 30px;
    }

    &__contenedor {
        display: flex;
        justify-content: space-around;
        justify-items: center;
        padding: 70px;
        
        &__producto {
            justify-items: center;
            padding: 30px;
            background-color: rgb(234, 234, 234);
            border-radius: 20px;
            box-shadow: 2px 2px 7px gray;
            text-align: center;
            transition: transform .2s;
        }
        
        &__producto:hover {
            transform: scale(1.2);
        }
    }
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
   }

@media screen and (max-width: 320px) {

    .consolas__titulo {
        display: flex;
        justify-content: center;
        width: 550px;
        padding: 100px;
        font-size: 30px;

        &__contenedor {
            display: flex;
            width: 550px;
            flex-direction: column;
            justify-items: center;
            gap: 20px;

            h3 {
                font-size: 40px;
            }

            p {
                font-size: 40px;
            }
        }
    }
}

@media screen and (max-width: 480px) {

    
    .consolas__titulo {
        display: flex;
        justify-content: center;
        width: 550px;
        padding: 100px;
        font-size: 30px;

        &__contenedor {
            display: flex;
            width: 550px;
            flex-direction: column;
            justify-items: center;
            gap: 20px;

            h3 {
                font-size: 40px;
            }
         
            p {
                font-size: 40px;
            }
        }
    }
}
/* Fin Sección Consolas*/

/* Inicio Sección Novedades*/

.novedades {
    display: flex;
    flex-direction: column;
    animation: fadein 4s;

    &__titulo {
        display: flex;
        justify-content: center;
        padding: 100px;
        font-size: 30px;
    }

    &__contenedor {
        display: flex;
        justify-content: space-around;
        justify-items: center;
        padding: 70px;
        
        &__producto {
            justify-items: center;
            padding: 30px;
            background-color: rgb(234, 234, 234);
            border-radius: 20px;
            box-shadow: 2px 2px 7px gray;
            text-align: center;
            transition: transform .2s;
        }
        
        &__producto:hover {
            transform: scale(1.2);
        }
    }
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
   }

@media screen and (max-width: 320px) {

    .novedades__titulo {
        display: flex;
        justify-content: center;
        width: 550px;
        padding: 100px;
        font-size: 30px;
        
        &__contenedor {
            display: flex;
            width: 550px;
            flex-direction: column;
            justify-items: center;
            gap: 20px;

            &__producto {
                justify-items: center;
                padding: 30px;
                background-color: rgb(234, 234, 234);
                border-radius: 20px;
                box-shadow: 2px 2px 7px gray;
                text-align: center;
                font-size: 40px;
            }

            h3 {
                font-size: 40px;
            }
         
            p {
                font-size: 40px;
            }

            input {
                font-size: 35px;
            }
        }    
    }
}

@media screen and (max-width: 480px) {

    .novedades__titulo {
        display: flex;
        justify-content: center;
        width: 550px;
        padding: 100px;
        font-size: 30px;

        &__contenedor {
            display: flex;
            width: 550px;
            flex-direction: column;
            justify-items: center;
            gap: 20px;

            h3 {
                font-size: 40px;
            }

            p {
                font-size: 40px;
            }   
        }

        &__producto {
            justify-items: center;
            padding: 30px;
            background-color: rgb(234, 234, 234);
            border-radius: 20px;
            box-shadow: 2px 2px 7px gray;
            text-align: center;
            font-size: 40px;
        }

        &__titulo {
            display: flex;
            justify-content: center;
            padding: 100px;
            font-size: 40px;
        }

        input {
            font-size: 35px;
        }
    }   
}
/* Fin Sección Novedades*/

/* Inicio Galería */

.mosaico {
    display: grid;
    grid-template-columns: 1fr;

    & img {
        width: 100%;
        height: auto;
    }
    &__elden {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    
    &__nat {
        grid-column: 3 / 5;
        grid-row: 1 / 3
    }
    
    &__halo {
        grid-column: 5 / 7;
        grid-row: 1 / 2
    }
    
    &__re {
        grid-column: 7 / 9;
        grid-row: 1 / 2;
    }

}

@media screen and (max-width: 320px) {
    
    .mosaico {
        display: none;
     }

}
/* Fin Galería */