* {
    padding: 0%;
    margin: 0%;
    font-family: monospace;
}

h3 {
    padding: 10px;
    font-size: 20px;
}

p {
    padding: 10px;
    font-size: 20px;
}

body {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(168, 168, 168));
}

input {
    background-color: green;
    color: aliceblue;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 7px gray;
    
}

/* Inicio Sección Menú Principal*/

.menu {
    display: flex; 
    justify-content: space-around;
    background-color: #212529;
    padding: 10px;

}

.menu__logo {
    width: 20%;
    width: 200px;
    height: 80px;
    transition: transform .2s;
}

.menu__logo:hover {
    transform: scale(1.2);
}

.menu li {
    list-style: none;
}

.menu__enlaces {
    text-decoration: none;
    color: white;
    font-size: 20px;
        
}

@media screen and (max-width: 320px) {

    .menu {
        display: flex;
        flex-direction: column;
        width: 720px;
        background: linear-gradient(to bottom, rgb(0, 0, 145), rgb(46, 27, 218));
        justify-items: center;
    }

    .menu__enlaces {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    
    .menu__logo {
        width: 250px;
        height: 150px;
    }
}

@media screen and (max-width: 480px) {

    .menu {
        display: flex;
        flex-direction: column;
        width: 720px;
        background: linear-gradient(to bottom, rgb(0, 0, 145), rgb(46, 27, 218));
        justify-items: center;
    }

    .menu__enlaces {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

    .menu__logo {
        width: 250px;
        height: 150px;
    }
} 
/* Fin Sección Menú Principal*/

/* inicio Secciones*/

.secciones {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 100px;
    justify-content: center;
    animation: fadein 2s; 
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
}


.secciones__xbox {
    width: 500px;
    grid-column: 4 / 5;
    grid-row: 1 / 4;
    background-color: rgb(1, 178, 1);
    transition: transform .2s;
}

.secciones__xbox:hover {
    transform: scale(1.2);
}

.secciones__ps {
    width: 500px;
    grid-column: 5 / 6;
    grid-row: 1 / 3;
    background-color: blue;
    transition: transform .2s;
}

.secciones__ps:hover {
    transform: scale(1.2);
}

.secciones__nintendo {
    width: 500px;
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    background-color: red;
    transition: transform .2s;
}

.secciones__nintendo:hover {
    transform: scale(1.2);
}

.secciones__pc {
    width: 500px;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-color: blueviolet;
    transition: transform .2s;
}
.secciones__pc:hover {
    transform: scale(1.2);
}

.secciones__titulo {
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 320px) {

    .secciones__mobile {
        display: flex;
        flex-direction: column;
    }

    .secciones__pc {
        display: none;
    }
    .secciones__ps {
        display: none;
    }
    .secciones__xbox {
        display: none;
    }
    .secciones__nintendo {
        display: none;
    }

    .secciones__mobile {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 480px) {

    .secciones__mobile {
        display: flex;
        flex-direction: column;
    }

    .secciones__pc {
        display: none;
    }
    .secciones__ps {
        display: none;
    }
    .secciones__xbox {
        display: none;
    }
    .secciones__nintendo {
        display: none;
    }

    .secciones__mobile {
        display: flex;
        flex-direction: column;
    }

}

/* Fin Secciones*/

/* Inicio Sección banner Principal*/

.banner {
    display: block;
    justify-content: center;
    box-shadow: 2px 2px 7px gray;
}

.banner__imagen {
    object-fit: scale-down;
    width: auto;
    height: auto;


}

@media screen and (max-width: 320px) {

    .banner {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .banner__imagen {
        object-fit: contain;
        width: auto;
    }
    
}
/* Fin Sección bannerPrincipal*/

/* Inicio Sección Consolas*/

.consolas {
    display: flex;
    flex-direction: column;
    animation: fadein 3s;
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
   }


.consolas__titulo {
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: 30px;
}

.consolas__contenedor {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 70px;
    
}

.consola__producto {
    justify-items: center;
    padding: 30px;
    background-color: rgb(234, 234, 234);
    border-radius: 20px;
    box-shadow: 2px 2px 7px gray;
    text-align: center;
    transition: transform .2s;
}

.consola__producto:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 320px) {

    
    .consolas__titulo {
        display: flex;
        justify-content: center;
        width: 550px;
        padding: 100px;
        font-size: 30px;
    }

    .consolas__contenedor {
        display: flex;
        width: 550px;
        flex-direction: column;
        justify-items: center;
        gap: 20px;
    }

   h3 {
       font-size: 40px;
   }

   p {
       font-size: 40px;
   }

    .consola__producto {
        justify-items: center;
        padding: 30px;
        background-color: rgb(234, 234, 234);
        border-radius: 20px;
        box-shadow: 2px 2px 7px gray;
        text-align: center;
        font-size: 40px;
    }

    .consolas__titulo {
        display: flex;
        justify-content: center;
        padding: 100px;
        font-size: 40px;
    }
   
}

@media screen and (max-width: 480px) {

    
    .consolas__titulo {
        display: flex;
        justify-content: center;
        width: 550px;
        padding: 100px;
        font-size: 30px;
    }

    .consolas__contenedor {
        display: flex;
        width: 550px;
        flex-direction: column;
        justify-items: center;
        gap: 20px;
    }

   h3 {
       font-size: 40px;
   }

   p {
       font-size: 40px;
   }

    .consola__producto {
        justify-items: center;
        padding: 30px;
        background-color: rgb(234, 234, 234);
        border-radius: 20px;
        box-shadow: 2px 2px 7px gray;
        text-align: center;
        font-size: 40px;
    }

    .consolas__titulo {
        display: flex;
        justify-content: center;
        padding: 100px;
        font-size: 40px;
    }
   
}

/* Fin Sección Consolas*/

/* Inicio Sección Novedades*/

.novedades {
    display: flex;
    flex-direction: column;
    animation: fadein 4s;
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
   }

.novedades__titulo {
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: 30px;
}

.novedades__contenedor {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 70px;
    
}

.novedades__producto {
    justify-items: center;
    padding: 30px;
    background-color: rgb(234, 234, 234);
    border-radius: 20px;
    box-shadow: 2px 2px 7px gray;
    text-align: center;
    transition: transform .2s;
}

.novedades__producto:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 320px) {

    
    .novedades__titulo {
        display: flex;
        justify-content: center;
        width: 550px;
        padding: 100px;
        font-size: 30px;
    }

    .novedades__contenedor {
        display: flex;
        width: 550px;
        flex-direction: column;
        justify-items: center;
        gap: 20px;
    }

   h3 {
       font-size: 40px;
   }

   p {
       font-size: 40px;
   }

    .novedades__producto {
        justify-items: center;
        padding: 30px;
        background-color: rgb(234, 234, 234);
        border-radius: 20px;
        box-shadow: 2px 2px 7px gray;
        text-align: center;
        font-size: 40px;
    }

    .novedades__titulo {
        display: flex;
        justify-content: center;
        padding: 100px;
        font-size: 40px;
    }

    input {
        font-size: 35px;
    }
   
}

@media screen and (max-width: 480px) {

    
    .novedades__titulo {
        display: flex;
        justify-content: center;
        width: 550px;
        padding: 100px;
        font-size: 30px;
    }

    .novedades__contenedor {
        display: flex;
        width: 550px;
        flex-direction: column;
        justify-items: center;
        gap: 20px;
    }

   h3 {
       font-size: 40px;
   }

   p {
       font-size: 40px;
   }

    .novedades__producto {
        justify-items: center;
        padding: 30px;
        background-color: rgb(234, 234, 234);
        border-radius: 20px;
        box-shadow: 2px 2px 7px gray;
        text-align: center;
        font-size: 40px;
    }

    .novedades__titulo {
        display: flex;
        justify-content: center;
        padding: 100px;
        font-size: 40px;
    }

    input {
        font-size: 35px;
    }
   
}
/* Fin Sección Novedades*/

/* Inicio Galería */

.mosaico {
    display: grid;

    grid-template-columns: 1fr;

}

.mosaico img {
    width: 100%;
    height: auto;
}
.mosaico__elden {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.mosaico__nat {
    grid-column: 3 / 5;
    grid-row: 1 / 3
}

.mosaico__halo {
    grid-column: 5 / 7;
    grid-row: 1 / 2
}

.mosaico__re {
    grid-column: 7 / 9;
    grid-row: 1 / 2;
}

@media screen and (max-width: 320px) {
    .mosaico {
        display: none;
     }

}
    
/* Fin Galería */

/* Inicio Sección Footer */

.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 25, 25);
    padding: 50px;
    justify-content: center;
    text-align: center;
}
	 

.footer__firma {
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 320px) {
    .footer {
        display: flex;
        flex-direction: column;
        background-color: rgb(80, 80, 80);
        padding: 50px;
        justify-content: center;
        text-align: center;
        width: 600px;
    }

    .footer__firma {
        font-size: 30px;
        color: aliceblue;
    }

    .footer__texto {
        font-size: 30px;
        color: aliceblue;
    }
}

.footer__logo {
    padding: 1rem;
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}


/* Fin Sección Footer */

  /*      PÁGINA FIGURAS      */ 

/* inicio Secciones*/

.secciones__figuras {
    display: flex;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 100px;
    justify-content: center;
    animation: fadein 2s; 
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
   }

.secciones__figuras1 {
    width: 500px;
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    transition: transform .2s;
}

.secciones__figuras1:hover {
    transform: scale(1.2);
}

.secciones__figuras2 {
    width: 500px;
    grid-column: 5 / 6;
    grid-row: 1 / 3;
    transition: transform .2s;
}

.secciones__figuras2:hover {
    transform: scale(1.2);
}

.secciones__figuras4 {
    width: 500px;
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    transition: transform .2s;
}

.secciones__figuras4:hover {
    transform: scale(1.2);
}

.secciones__figuras3 {
    width: 500px;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    transition: transform .2s;
}
.secciones__figuras3:hover {
    transform: scale(1.2);
}


@media screen and (max-width: 320px) {

    .secciones__figuras1 {
        display: none;
    }
    .secciones__figuras2 {
        display: none;
    }
    .secciones__figuras3 {
        display: none;
    }
    .secciones__figuras4 {
        display: none;
    }

}

/* Fin Secciones*/

  /* Inicio Sección banner Figuras*/

.banner {
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 7px gray;
    justify-content: space-around;
}

.banner__imagen {
    object-fit: scale-down;
    width: auto;
    height: auto;

}

@media screen and (max-width: 320px) {

    .banner {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .banner__imagen {
        object-fit: contain;
        width: auto;
    }
    
}
/* Fin Sección banner Figuras*/

/* Inicio Sección Figuras*/

.juegos {
    display: flex;
    flex-direction: column;
}

.juegos__titulo {
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: 30px;
    justify-content: space-around;
    justify-items: center;
    efectos_index
}

.juegos__contenedor {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 70px;
    
}

.juegos__producto {
    justify-items: center;
    padding: 30px;
    background-color: rgb(234, 234, 234);
    border-radius: 20px;
    box-shadow: 2px 2px 7px gray;
    transition: transform .2s;
}

.juegos__producto:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 320px) {

    
    .juegos__titulo {
        display: flex;
        justify-content: center;
        width: 550px;
        padding: 100px;
        font-size: 30px;
    }

    .juegos__contenedor {
        display: flex;
        width: 550px;
        flex-direction: column;
        justify-items: center;
        gap: 20px;
    }

   h3 {
       font-size: 40px;
   }

   p {
       font-size: 40px;
   }

    .juegos__producto {
        justify-items: center;
        padding: 30px;
        background-color: rgb(234, 234, 234);
        border-radius: 20px;
        box-shadow: 2px 2px 7px gray;
        text-align: center;
        font-size: 40px;
    }

    .juegos__titulo {
        display: flex;
        justify-content: center;
        padding: 100px;
        font-size: 40px;
    }
   
}
/* Fin Sección Figuras*/

/*      PÁGINA JUEGOS      */ 

/* inicio Secciones*/

.secciones__juegos {
    display: flex;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 100px;
    justify-content: center;
    animation: fadein 2s; 
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
   }

.secciones__figuras1 {
    width: 500px;
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    transition: transform .2s;
}

.secciones__figuras1:hover {
    transform: scale(1.2);
}

.secciones__figuras2 {
    width: 500px;
    grid-column: 5 / 6;
    grid-row: 1 / 3;
    transition: transform .2s;
}

.secciones__figuras2:hover {
    transform: scale(1.2);
}

.secciones__figuras4 {
    width: 500px;
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    transition: transform .2s;
}

.secciones__figuras4:hover {
    transform: scale(1.2);
}

.secciones__figuras3 {
    width: 500px;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    transition: transform .2s;
}
.secciones__figuras3:hover {
    transform: scale(1.2);
}


@media screen and (max-width: 320px) {

    .secciones__figuras1 {
        display: none;
    }
    .secciones__figuras2 {
        display: none;
    }
    .secciones__figuras3 {
        display: none;
    }
    .secciones__figuras4 {
        display: none;
    }

}

/* Fin Secciones*/

  /* Inicio Sección banner Figuras*/

.banner {
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 7px gray;
    justify-content: space-around;
}

.banner__imagen {
    object-fit: scale-down;
    width: auto;
    height: auto;

}

@media screen and (max-width: 320px) {

    .banner {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .banner__imagen {
        object-fit: contain;
        width: auto;
    }
    
}
/* Fin Sección banner Figuras*/

/* Inicio Sección Figuras*/

.figuras {
    display: flex;
    flex-direction: column;
}

.figuras__titulo {
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: 30px;
    justify-content: space-around;
    justify-items: center;
    efectos_index
}

.figuras__contenedor {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 70px;
    
}

.figuras__producto {
    justify-items: center;
    padding: 30px;
    background-color: rgb(234, 234, 234);
    border-radius: 20px;
    box-shadow: 2px 2px 7px gray;
    transition: transform .2s;
}

.figuras__producto:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 320px) {

    
    .figuras__titulo {
        display: flex;
        justify-content: center;
        width: 550px;
        padding: 100px;
        font-size: 30px;
    }

    .figuras__contenedor {
        display: flex;
        width: 550px;
        flex-direction: column;
        justify-items: center;
        gap: 20px;
    }

   h3 {
       font-size: 40px;
   }

   p {
       font-size: 40px;
   }

    .figuras__producto {
        justify-items: center;
        padding: 30px;
        background-color: rgb(234, 234, 234);
        border-radius: 20px;
        box-shadow: 2px 2px 7px gray;
        text-align: center;
        font-size: 40px;
    }

    .figuras__titulo {
        display: flex;
        justify-content: center;
        padding: 100px;
        font-size: 40px;
    }
   
}
/* Fin Sección Figuras*/

/* Inicio Sección nostos */

.nosotros {
    font-display: flex;
    flex-direction: column;
    padding: 2rem;
    animation: fadein 2s; 
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
}

.nosotros__titulo {
    text-align: center;
}

.nosotros__texto {
    text-align: center;
}

.menu {
   animation: fadein 2s; 
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
}

/* Inicio Sección Contacto */

.contacto {
    font-display: flex;
    flex-direction: column;
    padding: 2rem;
    animation: fadein 2s; 
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
}

.contacto__titulo {
    text-align: center;
}

.contactos__texto {
    text-align: center;
}

.form__seccion {
    display: flex;
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

.form__datos {
    padding: 50px;
    animation: fadein 2s; 
}



.form__gif {
    padding: 50px;
}

 