<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Style/style.css" />
    <title>Tienda de Video Juegos</title>
</head>
<body>
    <!--Inicio Menú PRincipal-->
    <header class="menu">
        <img src="../img/logo.png" alt="" class="menu__logo"></im>
        <nav class="menu__cabecera">
            <ul class="menu__elementos">
                <li>
                    <a class="menu__enlaces" href="../index.html">Home</a>
                </li>
                <li>
                     <a class="menu__enlaces" href="./views/nosotros.html">Nosotros</a>
                 </li>
                 <li>
                     <a class="menu__enlaces" href="./views/juegos.html">Juegos</a>
                 </li>
                 <li>
                     <a class="menu__enlaces" href="./views/figuras.html">Figuras</a>
                 </li>
                 <li>
                     <a class="menu__enlaces" href="./views/contacto.html">Contacto</a>
                 </li>
            </ul>
        </nav>
    </header>
    <!--Fin Menú Principal--> 

    <!--Inicio Secciónes-->
        <section class="secciones__figuras">
            <img class="secciones__figuras1" src="../img/funkos-01.png" width="70px" alt="">
            <img class="secciones__figuras2" src="../img/funkos-02.png" width="70px" alt="">
            <img class="secciones__figuras3" src="../img/funkos-03.png" width="70px" alt="">
            <img class="secciones__figuras4" src="../img/funkos-04.png" width="70px" alt="">
       </section>
       <!--Fin Secciónes-->

    <!--Inicio Sección banner-->
    <section class="banner">
        <img class="banner__imagen" src="../img/banner-figuras.jpg" width="100%" alt="">
    </section>
    <!--Fin Sección banner-->



   <!--Inicio Sección Figuras-->
   <section class="figuras">
        <h2 class="figuras__titulo">Consolas y Accesorios</h2>
        <section class="figuras__contenedor">
            <article class="figuras__producto figuras__producto--adventure">
                <img src="../img/Funko-_POP_-Animation_-Adventure-_Time_--portada.jpg" alt="" height="200px" class="pl5-foto">
                <h3>Figura Adbventure Time</h3>
                <p class="figura__precio"> $25.000</p>
                <input type="button" value="anadir">
                </div>
            </article>
            <article class="figuras__producto figura__producto--ironman">
                <img src="../img/Funko-POP-Deluxe-Iron-Man-2-Mark-IV-With-portada.jpg" alt="" height="200px" class="swift-foto">
                <h3>Figura Iron Man</h3>
                <p class="figura__precio"> $25.000</p>
                <input type="button" value="anadir">
            </article>
            <article class="figuras__producto figura__producto--matrix">
                <img src="../img/Funko-POP-Matrix-Neo-portada.jpg" alt="" height="200px" class="series-foto">
                <h3>Nintendo Swift</h3>
                <p class="precio__figura"> $25.000</p>
                <input type="button" value="anadir">
            </article>
        </section>
    </section>   
    <!--Fin Sección Figuras-->

    <!--Inicio Sección Novedades-->
    </section class="novedades"> 
        <h2 class="novedades__titulo">Novedades</h2>
        <section class="novedades__contenedor">
            <article class="novedades__producto">
                <img src="../img/deku.jpg" alt="" height="200px">
                <h3>Figura Boku No Hero</h3>
                <p class="precio"> $50.000</p>
                <input type="button" value="anadir">
            </article>
            <article class="novedades__producto"> 
                <img src="../img/elden-ring.jpg" alt="" height="200px">
                <h3>Elden Ring Ps5</h3>
                <p class="precio"> $65.000</p>
                <input type="button" value="anadir">
            </article>
            <article class="novedades__producto"> 
                <img src="../img/dualsense.jpg" alt="" height="200px">
                <h3>Dualsense Ps5</h3>
                <p class="precio"> $55.000</p>
                <input type="button" value="anadir">
            </article> 
    </section>  
    <!--Fin Sección Novedades-->
    
    <!--Inicio Galería-->
    <section class="mosaico">
        <img class="mosaico__elden" src="../img/elden.jpg" alt="">
        <img class="mosaico__nat" src="../img/nate.jpg" alt="">
        <img class="mosaico__halo" src="../img/halo.jpg" alt="">
        <img class="mosaico__re" src="../img/re.jpg" alt="">
    </section>
    <!--Fin Galería-->

    <!--Inicio Footer-->
    <footer class="footer">
        <section class="footer__sociales">
            <img src="../img/fb.png" alt="" height="20px">
            <img src="../img/ig.png" alt="" height="20px">
        </section>
        <p class="footer__texto"> <a href="pixelgames.com">Pixel Games</a></p>
        <p class="footer__firma"> Todos los derechos reservados</p>
</footer>
<!--Fin Footer-->
</body>
</html>