<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <title>Tienda de Video Juegos</title>
</head>
<body>
    <!--Inicio Menú PRincipal-->
    <header class="menu-principal">
        <img src="../img/logo.png" alt="" class="menu-logo"></im>
        <nav class="menu-cabecera">
            <ul class="menu-elementos">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                     <a href="../views/nosotros.html">Nosotros</a>
                 </li>
                 <li>
                     <a href="../views/juegos.html">Juegos</a>
                 </li>
                 <li>
                     <a href="../views/figuras.html">Figuras</a>
                 </li>
                 <li>
                     <a href="../views/contacto.html">Contacto</a>
                 </li>
            </ul>
        </nav>
     </header> 
    <!--Fin Menú Principal-->    

    <!--Inicio Sección banner-->
    <div class="banner-nosotros">
        <h1 class="banner-titulo">Conócenos</h1>
    </div>
    <!--Fin Sección banner-->

    <!--Inicio Sección Nosotros-->
    <div class="nosotros"> 
        <h2>Amamos Las Aventuras Virtuales</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam asperiores<br>
            fugiat vitae doloremque iste voluptate aspernatur, dolorem saepe nobis molestias,<br>
            aliquid quibusdam expedita, mollitia delectus in. Ut facilis deserunt magnam.</p>
    </div> 
    <!--Fin Sección Nosotros-->

    <!--Inicio Sección Novedades-->
    </div class="productos-novedades"> 
        <h2 class="titulo-novedades">Novedades</h2>
        <div class="novedades"> 
            <img src="../img/kratos.jpg" alt="" height="200px">
            <h3>Figura God Of War</h3>
            <p class="precio"> $50.000</p>
            <input type="button" value="anadir">
        </div>
        <div class="novedades"> 
            <img src="../img/elden-ring.jpg" alt="" height="200px">
            <h3>Elden Ring Ps5</h3>
            <p class="precio"> $65.000</p>
            <input type="button" value="anadir">
        </div>
        <div class="novedades-1"> 
            <img src="../img/dualsense.jpg" alt="" height="200px">
            <h3>Dualsense Ps5</h3>
            <p class="precio"> $55.000</p>
            <input type="button" value="anadir">
        </div> 
    </div> 
    <!--Fin Sección Novedades-->

    <!--Inicio Footer-->
    <footer> 
        <div class="redes-sociales">
          <img src="../img/fb.png" alt="" height="20px">
          <img src="../img/ig.png" alt="" height="20px">
         </div>
        <p> <a href="pixelgames.com">Pixel Games</a></p>
        <p class="pie-firma"> Todos los derechos reservados</p>
    </footer>
    <!--Fin Footer-->
</body>
</html>