/* Inicio Sección Footer */

.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 25, 25);
    padding: 50px;
    justify-content: center;
    text-align: center;

    &__firma {
        color: rgb(255, 255, 255);
    }
    
}
	 
@media screen and (max-width: 320px) {
    .footer {
        display: flex;
        flex-direction: column;
        background-color: rgb(80, 80, 80);
        padding: 50px;
        justify-content: center;
        text-align: center;
        width: 600px;

        &__firma {
            font-size: 30px;
            color: aliceblue;
        }
    
        &__texto {
            font-size: 30px;
            color: aliceblue;
        }

        &__logo {
            padding: 1rem;
            animation: fadeInRight 1s ease-in-out;
        }
    }
}

    

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}


/* Fin Sección Footer */