* {
    padding: 0%;
    margin: 0%;
    font-family: monospace;
}

h3 {
    padding: 10px;
    font-size: 20px;
}

p {
    padding: 10px;
    font-size: 20px;
}

body {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(168, 168, 168));
}

input {
    background-color: green;
    color: aliceblue;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 7px gray;
    
}